*
    font-family: "Roboto", sans-serif

a
    text-decoration: none

//Mobile
    //Home
@media (max-width:767.98px)
    body
        margin: 0
        background-color: #f6f6f6
        position: relative

    .logo
        padding-top: 20px
        padding-bottom: 13px
        padding-inline: 15px
        background-color: white
        box-shadow: 0px 4px 10px #a9a9a9

    .logo img
        width: 175px

    .center
        display: flex
        justify-content: center

    header
        display: flex
        background-color: #eaeaea
        width: 100%
        margin-top: 0px
        box-shadow: 0px 4px 10px #a9a9a9

    header i
        padding-top: 20px
        padding-right: 20px

    header p 
        margin-top: 13px
        margin-bottom: 14px

    h2
        margin: 0
        padding-top: 40px
        padding-bottom: 10px

    .intro
        padding-bottom: 57px

    .intro p
        margin-top: 0
        margin-bottom: 35px
        font-weight: 300
        color: #353535
        font-size: 18px

    .explore
        background: linear-gradient(to left top, #9356dc, #ff79da)
        color: white
        border: 0
        border-radius: 30px
        font-size: 16px
        padding: 20px
        box-shadow: 0px 4px 10px #a9a9a9
        text-decoration: none

    .explore a
        color: white
        text-decoration: none

    .marge
        padding-left: 10px
        padding-right: 10px

    .etapes
        background-color: white
        padding-bottom: 30px

    .etapes h2
        padding-top: 50px
        padding-bottom: 25px
        padding-left: 10px

    .etapes__button
        display: flex
        flex-direction: column
        list-style: none
        counter-reset: section // rénitialise le compteur
        padding-left: 10px
        margin-top: 0

    .etapes__button li
        counter-increment: section // Incrémentation du compteur
        display: flex
        align-items: baseline

    .etapes__button li::before
        content: counter(section) // ajouter un compteur personnalisé
        border-radius: 50%
        background-color: #9747ff
        width: 25px
        height: 25px
        color: white
        display: flex
        justify-content: center
        align-items: center
        position: sticky
        margin-right: -15px

    .etape
        height: 70px
        border-radius: 20px
        border: 0
        font-size: 16px
        display: flex
        justify-content: start
        align-items: center
        background-color: #f6f6f6
        box-shadow: 0px 5px 10px #e0e0e0
        margin-bottom: 27px
        margin-left: 0
        width: 330px

    .etape i
        padding-inline: 25px

    .fa-mobile-screen-button, .fa-list-ul
        color: grey

    .fa-store
        color: #9747ff

    .restaurants
        margin-bottom: 65px

        h2
            margin-top: 50px
            padding-top: 0
            padding-bottom: 10px

        .restaurants__cards
            display: flex
            flex-wrap: wrap

            a
                width: 100%
                text-decoration: none
                color: black

            .card
                width: 100%
                margin-top: 15px
                margin-bottom: 5px
                border-radius: 20px
                background-color: white

                .restaurants-image
                    position: relative

                    img
                        width: 99%
                        border-radius: 20px 20px 0 0
                        height: 175px
                        object-fit: cover
                        object-position: bottom

                    .new
                        position: absolute
                        right: 22px
                        top: 4px
                        background-color: #99e2d0
                        color: #008766
                        border: 0
                        padding: 7px 12px
                        border-radius: 3px

                    #note
                        object-position: 0 -160px

                .card__content

                    .card__text
                        background-color: white
                        border-radius: 0 0 20px 20px
                        padding-left: 15px
                        padding-bottom: 15px
                        width: 80%

                        h3
                            padding-top: 10px
                            padding-bottom: 5px
                            margin: 0
                        & p
                            margin: 0
                .heart
                    position: absolute
                    right: 30px
                    margin-top: -50px

    footer
        background-color: #353535
        color: white
        padding: 15px 20px

    .footer-restaurants
        width: -webkit-fill-available

    .text__footer
        margin-top: 15px

    .text__footer p
        margin: 8px 0px

    .logo__footer img
        width: 100px
        margin-top: 10px

    footer i 
        padding-right: 10px

    // Page restaurants
    .logo-img
        display: flex
        justify-content: center

    .prev
        float: left
        margin-top: 5px

        a
            color: #353535

    .resto-img
        width: 100%
        height: 275px
        object-fit: cover

        img
            width: 100%

    .main-container
        border-radius: 30px
        position: absolute
        top: 283px
        width: -webkit-fill-available
        background-color: #f6f6f6

    .background-menu
        display: flex
        flex-direction: column
        align-items: center
        gap: 40px
        top: 32px
        position: relative

        .resto-title
            display: flex
            align-items: baseline

            h1
                margin-right: 40px
                margin-bottom: 0
                margin-top: 0
                font-family: "Shrikhand", serif
                font-size: 28px
                font-weight: 500
                height: 27px

    .menu
        display: flex
        flex-direction: column
        gap: 40px

    .menu-content
        display: flex
        flex-direction: column
        gap: 40px
    .menu-part

        .menu-subtitle
            text-transform: uppercase
            margin-bottom: 0
            font-weight: 300
            border-bottom: 3px solid
            border-image: linear-gradient(to right, #99e2d0 50%, #f6f6f6 50%)
            border-image-slice: 1
            width: fit-content
            margin-top: 0
            padding-bottom: 4px

        .menu-card
            background-color: white
            border-radius: 15px
            box-shadow: 0px 5px 10px #e0e0e0
            margin-top: 12px
            padding: 12px
            display: flex
            align-items: end
            justify-content: space-between
            position: relative
            overflow: hidden

            b
                font-weight: 500
                font-size: 18px

            p
                margin-top: 5px
                margin-bottom: 0
                font-weight: 300
                font-size: 15px

            .price
                float: right
                font-weight: 500
                color: #353535
                transition: transform 330ms ease-in-out

            .check
                position: absolute
                right: -60px
                top: 0
                color: white
                background-color: #99e2d0
                width: 59px
                height: 74px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 0 15px 15px 0
                transition: transform 330ms ease-in-out

        .menu-card:focus
            .check
                transform: translateX(-65px)

            .price
                transform: translateX(-60px)

    .commande
        display: flex
        justify-content: center

        a
            padding: 15px 40px

    .part-two
        font-weight: 300

@media (min-width:768px)
    body
        margin: 0
        background-color: #f6f6f6

    img
        width: 100px

    .logo
        padding: 30px 15px

        background-color: white

    .logo img
        width: 200px

    .center
        display: flex
        justify-content: center

    header
        display: flex
        background-color: #eaeaea
        width: 100%
        margin-top: 0px

    header i
        padding-top: 20px
        padding-right: 20px

    header p 
        margin-top: 13px
        margin-bottom: 14px

    .shadow
        box-shadow: 0px 4px 10px #a9a9a9

    .shadow-top
        box-shadow: 0px 4px 10px #a9a9a9

    .intro h2
        display: flex
        justify-content: center
        font-size: 40px
        font-weight: 500

    .intro p
        display: flex
        justify-content: center
        font-size: 18px
        font-weight: 200

    .part-two
        padding-left: 5px

    .explore
        background: linear-gradient(to left top, #9356dc, #ff79da)
        color: white
        border: 0
        border-radius: 30px
        font-size: 16px
        padding: 20px
        box-shadow: 0px 4px 10px #a9a9a9

    .explore a
        color: white
        text-decoration: none

    .explore:hover
        opacity: 0.8
        box-shadow: 0px 4px 10px 4px #a9a9a9

    .etapes
        background-color: white
        padding-bottom: 30px

        h2
            padding-top: 50px
            padding-bottom: 25px
            margin-left: 215px

        .etapes__button
            display: flex
            justify-content: center
            list-style: none
            counter-reset: section // rénitialise le compteur
            padding-left: 85px
            margin-top: 0

            li
                counter-increment: section // Incrémentation du compteur
                display: flex
                align-items: baseline

            li::before
                content: counter(section) // ajouter un compteur personnalisé
                border-radius: 50%
                background-color: #9747ff
                width: 25px
                height: 25px
                color: white
                display: flex
                justify-content: center
                align-items: center
                position: sticky
                margin-right: -15px

        .etape
            height: 70px
            border-radius: 20px
            border: 0
            font-size: 16px
            display: flex
            justify-content: start
            align-items: center
            background-color: #f6f6f6
            box-shadow: 0px 5px 10px #e0e0e0
            margin-bottom: 27px
            margin-left: 0
            width: 330px
            margin-right: 25px

        .etape i
            padding-inline: 25px

        .fa-mobile-screen-button, .fa-list-ul
            color: grey

        .fa-store
            color: #9747ff

    .restaurants
        margin: 30px 185px

        h2
            margin-top: 0
            padding-top: 0
            padding-bottom: 10px

        .restaurants__cards
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            a
                text-decoration: none
                color: black
                margin-bottom: 50px

                .card
                    width: 490px
                    height: 250px
                    overflow: hidden
                    border-radius: 20px
                    background-color: white

                    .restaurants-image
                        position: relative
                        height: 70%
                        img
                            width: 100%
                            border-radius: 20px 20px 0 0
                            height: 175px
                            object-fit: cover
                            object-position: 0 -100px
                            position: relative

                        .new
                            position: absolute
                            right: 22px
                            top: 4px
                            background-color: #99e2d0
                            color: #008766
                            border: 0
                            padding: 7px 11px
                            border-radius: 3px
                            font-size: 14px
                            font-weight: 500
                            display: flex
                            justify-content: center
                            align-items: center

                    .card__content
                        position: relative
                        height: 30%
                        display: flex
                        align-items: center

                        .card__text
                            background-color: white
                            border-radius: 0 0 20px 20px
                            padding-left: 15px
                            color: black

                            h3
                                padding-bottom: 5px

                            & h3, p
                                margin: 0

                #note
                    object-position: 0 -245px
                .heart
                    width: 22px
                    position: absolute
                    right: 30px
                    bottom: 30px

    .fa-heart:hover
        font-weight: 900
        color: #9747ff

    footer
        width: 100vw
        background-color: #353535
        color: white
        display: flex
        justify-content: end
        flex-direction: row-reverse
        align-items: center
        padding-top: 49px
        padding-bottom: 14px

        .logo__footer
            margin-inline: 45px

        .text__footer
            display: flex
            p
                margin-right: 10px
            span
                margin-right: 10px
            .part-one, .part-two
                display: flex
                margin-right: 30px

    .body-restaurants
        background-color: white

    .logo-img
        display: flex
        justify-content: center

    .prev
        float: left
        margin-top: 5px

        a
            color: #353535

    .resto-img
        width: 100%
        height: 385px
        object-fit: cover
        object-position: center 60%

        img
            width: 100%

    .main-container
        display: flex
        justify-content: center

    .background-menu
        width: 75%
        background-color: #f6f6f6
        border-radius: 40px
        position: absolute
        top: 439px
        display: flex
        align-items: center
        flex-direction: column
        gap: 40px
        padding-top: 51px

        .resto-title
            display: flex
            align-items: baseline
            justify-content: center

            h1
                margin-right: 40px
                font-family: "Shrikhand", serif
                font-size: 28px
                font-weight: 500
                margin-bottom: 0
                margin-top: 0

                .heart .fa-heart:hover
                    font-weight: 900
                    color: #9747ff

        .menu
            border-radius: 40px
            background-color: #f6f6f6

            .menu-content
                display: flex
                flex-direction: column
                gap: 40px

            .menu-part
                opacity: 0
                animation: fadeIn 0.5s ease forwards

                @for $i from 1 through 10
                    &:nth-child(#{"#{$i}"})
                        animation-delay: (0.2s * $i)

                @keyframes fadeIn
                    to
                        opacity: 1
                        transform: translateY(0)

            .menu-subtitle
                text-transform: uppercase
                margin-bottom: 0
                margin-top: 0
                padding-bottom: 6px
                font-weight: 300
                border-bottom: 3px solid
                border-image: linear-gradient(to right, #99e2d0 50%, #f6f6f6 50%)
                border-image-slice: 1
                width: fit-content

            .menu-card
                background-color: white
                border-radius: 15px
                box-shadow: 0px 5px 10px #e0e0e0
                margin-top: 12px
                padding: 12px 15px
                width: 634px
                display: flex
                align-items: end
                justify-content: space-between
                transition: background-color 0.3s ease
                position: relative
                overflow: hidden

                b
                    font-weight: 500
                    font-size: 18px

                p
                    margin-top: 5px
                    margin-bottom: 0
                    font-weight: 300
                    font-size: 15px

                .price
                    float: right
                    font-weight: 500
                    color: #353535
                    transition: transform 330ms ease-in-out

                .check
                    position: absolute
                    left: 670px
                    top: 0
                    color: white
                    background-color: #99e2d0
                    width: 59px
                    height: 74px
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 0 15px 15px 0
                    transition: transform 330ms ease-in-out

            .menu-card:hover

                .check
                    opacity: 1
                    transform: translateX(-65px)

                .price
                    transform: translateX(-60px)

            a
                padding-inline: 30px

        .commande
            display: flex
            justify-content: center

            a
                padding: 16px 40px

    .text__footer
        .part-two
            font-weight: 300

// Variables pour les couleurs et tailles
$loader-bg-color: white
$spinner-border-color: #f3f3f3
$spinner-border-top-color: #9356DC
$loader-size: 50px
$loader-delay: 2s // Durée estimée du chargement

// Style pour le conteneur de chargement
#loader
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $loader-bg-color
    display: flex
    align-items: center
    justify-content: center
    z-index: 9999
    animation: fadeOut 1s ease-out forwards
    animation-delay: $loader-delay

// Style du spinner
.spinner
    width: $loader-size
    height: $loader-size
    border: 6px solid $spinner-border-color
    border-top: 6px solid $spinner-border-top-color
    border-radius: 50%
    animation: spin 1s linear infinite

// Animation de rotation pour le spinner
@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

// Animation de sortie pour masquer le loader
@keyframes fadeOut
    to
        opacity: 0
        visibility: hidden
